<html>

<head>
    <link href="css/products.css" type="text/css" rel="stylesheet">
    <title>ORDER TABLE</title>
</head>

<body>
    <header>
        <%- include('header.ejs') %>
    </header>

    <section>
        <div class="container">
            <div class="row category-select">
                <h2 style="text-align: center">ORDER TABLE DETAIL</h2>
            </div>
            <div class="detail">
                <div class="col-md-6" id="left">
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="customerName">Customer</label>
                        <div class="form-control pull-right" id="customerName" style="width: 300px">
                            <%= customer.customer_name %>
                        </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="startTime">Start Time</label>
                        <div class="form-control pull-right" id="startTime" style="width: 300px">
                            <%= order.start_time %>
                        </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="numberPeople">Number Of People</label>
                        <div class="form-control pull-right" id="inline" style="width: 300px">
                            <%= order.number_people %>
                        </div>
                    </div>

                    <div class="form-inline" style="margin-top: 20px">
                        <label for="numberPeople">State</label>
                        <div class="form-control pull-right" id="inline" style="width: 300px">
                            <%= state %>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="right">
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="order_time">Order time</label>
                        <div class="form-control pull-right" id="order_time" style="width: 300px">
                            <%= order.order_time %>
                        </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="end_time">End Time</label>
                        <div class="form-control pull-right" id="end_time" style="width: 300px">
                            <%= order.end_time %>
                        </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="code">Code</label>
                        <div class="form-control pull-right" id="code" style="width: 300px">
                            <%= order.code %>
                        </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px">
                        <label for="lateTime">Coming or Late</label>
                        <div class="form-control pull-right" id="lateTime" style="width: 300px">
                            <%= lateTime %>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-1" style="margin-top: 50px">

            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-3" style="margin-top: 50px">
                    <h3>List of table</h3>
                </div>
                <div class="col-md-6" style="margin-top: 50px; color: RED">
                    <h3>
                        <%= arrTable %>
                    </h3>
                </div>
            </div>
            <div class="row pull-right" id="action">
                    <%if(order.status == 1){ %>
                        <a class="btn btn-success" href="http://localhost:3000/order-table/update/2/<%=order.id %>" style="margin-right: 10px; width: 100px">In Progress</a>
                        <a class="btn btn-danger" href="http://localhost:3000/order-table/update/5/<%=order.id %>" style="margin-right: 10px; width: 100px">Cancel</a>
                        <a class="btn btn-primary" href="http://localhost:3000/order-table" style="margin-right: 10px; width: 100px">OK</a>
                    <%}%>
                    <%if(order.status == 2){ %>
                        <a class="btn btn-success" href="http://localhost:3000/order-table/update/3/<%=order.id %>" style="margin-right: 10px; width: 100px">Completed</a>
                        <a class="btn btn-primary" href="http://localhost:3000/order-table" style="margin-right: 10px; width: 100px">OK</a>
                    <%}%>
                    <%if(order.status == 3 || order.status == 4 || order.status == 5){ %>
                        <a class="btn btn-primary" href="http://localhost:3000/order-table" style="margin-right: 10px; width: 100px">OK</a>
                    <%}%>
            </div>
        </div>
    </section>


    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
<script src="script/products.js"></script>

</html>